<header id="main-header" class="page-header">
  <div class="media">
    <div class="media-left">
      <img class="media-object img-reponsive" src="/images/me.jpg" alt="Christopher Jude">
    </div>
    <div class="media-body">
      <h1 class="media-heading">
        {{ me.first_name }}
        {{ me.middle_name }}
        {{ me.last_name }}
      </h1>

      <h2>{{ me.occupation }}</h2>

      <h3><a ng-href="mailto:{{ me.email }}" title="Email me">{{ me.email }}</a></h3>

      <h3>
        <a ng-href="{{ me.site.url }}" title="Visit my site">{{ me.site.name }}</a>
        <img class="icon" ng-src="{{ me.site.image.url }}" alt="{{ me.site.image.alt }}">
      </h3>

      <h2>
        <a ng-href="{{ me.github.url }}" title="My Github">
          <i class="fa fa-2x" ng-class="'fa-' + me.github.icon"></i>
        </a>
        <a ng-href="{{ me.linkedin.url }}" title="My LinkedIn">
          <i class="fa fa-2x" ng-class="'fa-' + me.linkedin.icon"></i>
        </a>
        <a ng-href="{{ me.twitter.url }}" title="My Twitter">
          <i class="fa fa-2x" ng-class="'fa-' + me.twitter.icon"></i>
        </a>
      </h2>
    </div>
  </div>
</header>




