<header id="main-header" class="page-header">
  <div class="media">
    <div class="media-left">
      <img class="media-object img-reponsive" src="/images/me.jpg" alt="Christopher Jude">
    </div>
    <div class="media-body">
      <h1 class="media-heading">Christopher Jude Scavello</h1>
      
      <h2>Web Developer</h2>

      <h3><a href="mailto:global.chrisscavello@gmail.com">global.chrisscavello@gmail.com</a></h3>

      <a href="http://bideowego.com">
        <h3>Bideo Wego <img src="http://bideowego.com/favicon.ico" alt="Bideo Wego"></h3>
      </a>

      <h2>
        <a href="https://github.com/Bideowego">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/chrisscavello">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/BideoWego">
          <i class="fa fa-twitter"></i>
        </a>
      </h2>
    </div>
  </div>
</header>




